<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <title>Music Explorer</title>
</head>
<body>
    <h1 class="text-center bg-black p-4 text-white m-0">Music Explorer</h1>

    <%- include("partials/navbar.ejs") %>

    <div class="container my-5">
        <div class="row align-items-center">
            <div>
                <h2>Find Your Favorite Artists and Albums</h2>

                <form action="/searchArtistInfo">
                    <label for="artist" class="form-label">Search Artist Info:</label>
                    <input type="text" name="artist" id="artist" class="form-control" placeholder="e.g. Taylor Swift, Bad Bunny">
                    <button class="btn btn-outline-light mt-2">Search</button>
                </form>

                <form action="/allArtistAlbums">
                    <label for="artist" class="form-label">Search all albums of a given artist:</label>
                    <input type="text" name="artist" id="artist" class="form-control" placeholder="e.g. Taylor Swift, Bad Bunny">
                    <button class="btn btn-outline-light mt-2">Search</button>
                </form>

                <form action="/searchAlbum">
                    <label for="album" class="form-label">Search Album Info:</label>
                    <input type="text" name="album" id="album" class="form-control" placeholder="e.g. Thriller, Lemonade">
                    <button class="btn btn-outline-light mt-2">Search</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>